body{
    background-color: rgb(93, 105, 117);
}
.body_container{
    background-color: lightslategray;
    font-family: 'Bad Script', cursive;
}

/* JUMBOTRON */
.jumbotron{
    background-color: lightslategray;
    margin-bottom: 200px;
}

h1{
    color: aquamarine;
}

p{
    color: rgb(102, 18, 102);
}

.kimba_pic{
    width: 25%;
}

/* NAVBAR TOP */

.navbar{
    background-color: rgb(119,136,153, 0.9)
}


.navbar-toggler{
    color: rgb(102, 18, 102);

}
.navbar-toggler:hover{
    color: rgb(75, 13, 75);
    
}

.navbar-toggler span{
    text-decoration: none;
    text-decoration-color: rgb(75, 13, 75);
}

.navbar-toggler span:hover{
    text-decoration: underline;
    text-decoration-color: rgb(102, 18, 102);
}


button:hover, button:focus {
    outline: none;
  }

a{
    color: rgb(102, 18, 102);
}
a:hover{
color: aquamarine;
border-bottom:1px solid rgb(75, 13, 75);
}


li{
    color: rgb(102, 18, 102);
}



/* SPACING BETWEEN DIVS SECTIONS */

.main_cont_container{
    padding-bottom: 50px;
}

.my_story_container{
    margin-top: 100px;
    margin-bottom: 150px;
}

.in_the_oven_container{
    margin-top: 100px;
    margin-bottom: 150px;
}

.food_pics_container{
    margin-top: 100px;
    margin-bottom: 150px;
}

.pricing_container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.order_items_container{
    margin-top: 50px;
    margin-bottom: 150px;
}

.orders_container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.orders_h1_div{
    padding-top: 25px;
}

.form_container{
    /* margin-bottom: 50px; */
    padding-bottom: 50px;
}



/* SCONES LIST EDITS */
.scones_list_item{
    text-decoration: underline;
    text-decoration-color: aquamarine;
}



.gf_span{
    color: aquamarine;
    text-decoration: none;
}

.gf_option_mark{
    color: rgb(102, 18, 102);
    font-style: italic;
}

.big_asterisk{
    font-size: 1.5rem;
}


/* PRICING LIST */

.price_list{
    list-style-type:circle;
    color: aquamarine;
    /* list-style-image: url(""); */
}

.price_list h4{
    color: rgb(102, 18, 102);
}

.price_list h4 .scone_span{
    text-decoration: underline;
    text-decoration-color: aquamarine;
}